{{ form_start(form) }}
    {{ form_widget(form) }}
    <div
        data-form-collection-index-value={{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}
        data-form-collection-prototype-value={{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}
    >
    <ul stimulus_target('form-collection', 'collectionContainer')></ul>
    <button type="button"  stimulus_action('form-collection', 'addCollectionElement')>Ajouter une image</button>
        {% for picture in place.pictures %}
            <li>{{ form_row(picture.title) }}</li>
            <li>{{ form_row(picture.file) }}</li>
        {% endfor %}
    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
